* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sketch-panel {
  box-sizing: content-box;
  border: 1px solid black;
  width: 800px;
  height: 800px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.pixel {
  box-sizing: border-box;
  /* width: 400px;
  height: 400px; */
  border: 1px solid black;
  /* border-right: 1px solid black;
  border-bottom: 1px solid black; */
}
